<h2>Destination URL</h2>
<p>Destination URL: <%= @destination_link.url %></p>

<%= render partial: '/shared/tracked_link', collection: @destination_link.tracked_links, as: :tracked_link, layout: 'layouts/tracked_link' %>

<%= link_to 'Back', url_generator_index_path %>