<table>
  <thead>
    <tr>
      <th>Link</th>
      <th>Visits</th>
      <th>Created</th>
      <th>Details</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <%= yield %>
  </tbody>
</table>